@model IEnumerable<DFEitechCollege.Models.Workshop>
@{
    ViewBag.Title = "ListWorkshops";
    WebGrid wg = new WebGrid(Model);
}

<div>
    All Workshops
    @wg.GetHtml(columns: new[]
{
    wg.Column("WorkshopId", header: "ID"),
    wg.Column("Course.SubjectName", header: "Subject"),
    wg.Column("Course.SubjectId", header: "Subject ID"),
    wg.Column("Year", header: "Year"),
    wg.Column("Teacher", format: (item) => item.Instructor.FName+ ' ' + item.Instructor.LName)
})

</div>

<div>
@foreach (var workshop in Model)
{
    <table>
        <tr>
            <th>WorkShop ID</th>
            <th>Subject</th>
            <th>Advanced</th>
            <th>Year</th>
            <th>Teacher</th>
            @foreach (var student in workshop.Students)
            {
                <th>Student</th>
            }

<tr>
            <td>@workshop.WorkshopId</td>
            <td>@workshop.Course.SubjectId @workshop.Course.SubjectName</td>
            <td>@workshop.Course.SubjectHigher</td>
            <td>@workshop.Year</td>
            <td>@workshop.Instructor.TeacherId @workshop.Instructor.FName @workshop.Instructor.LName</td>
            @foreach (var student in workshop.Students)
            {
                <td>@student.StudentId @student.LName @student.FName</td>
            }
            </tr>            
    </table>
    <br /><br />
}
 </div>

<div>
    @Html.Partial("_ToolWorkshops")
</div>