@model DFEitechCollege.Models.Workshop
@{
    ViewBag.Title = "UpdateWorkshop";
}

<h2>Updated Workshop:</h2>
<table>
    <tr>
        <th>Workshop ID</th>
        <th>Subject ID</th>
        <th>Subject</th>
        <th>Advanced</th>
        <th>Teacher ID</th>
        <th>Teacher</th>
    </tr>

    <tr>
        <td>@Model.WorkshopId</td>
        <td>@Model.Course.SubjectId</td>
        <td>@Model.Course.SubjectName</td>
        <td>@Model.Course.SubjectHigher</td>
        <td>@Model.Instructor.TeacherId</td>
        <td>@Model.Instructor.FName @Model.Instructor.LName</td>
    </tr>
</table>

